<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>

    <% if current_user.admin? %>
    <%= link_to "投稿する", new_ukulele_path, class: 'btn btn-default' %>
    <% end %>

    <% @ukuleles.each do |ukulele| %>
      <div class="row">
        <p><%= pict_img(ukulele) if pict_img(ukulele) %></p>
        <p>説明:<%= ukulele.content %></p>
        <% if current_user.admin? %>
          <%= link_to "編集する", edit_ukulele_path(ukulele.id), class: 'btn btn-sm btn-success' %>
          <%= link_to "削除する", ukulele_path(ukulele.id), method: :delete, data: { confirm: '削除していいですか？' }, class: 'btn btn-sm btn-default' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
